In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("master.csv")

In [3]:
df["country"].unique()

array(['Albania', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Barbados', 'Belarus', 'Belgium', 'Belize',
       'Bosnia and Herzegovina', 'Brazil', 'Bulgaria', 'Cabo Verde',
       'Canada', 'Chile', 'Colombia', 'Costa Rica', 'Croatia', 'Cuba',
       'Cyprus', 'Czech Republic', 'Denmark', 'Dominica', 'Ecuador',
       'El Salvador', 'Estonia', 'Fiji', 'Finland', 'France', 'Georgia',
       'Germany', 'Greece', 'Grenada', 'Guatemala', 'Guyana', 'Hungary',
       'Iceland', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Kazakhstan', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Latvia',
       'Lithuania', 'Luxembourg', 'Macau', 'Maldives', 'Malta',
       'Mauritius', 'Mexico', 'Mongolia', 'Montenegro', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Norway', 'Oman', 'Panama', 'Paraguay',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Republic of Korea', 'Romania', 'Russian Federation',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and Grenadines', 'San Marino', 'Serbia',
       'Seychelles', 'Singapore', 'Slovakia', 'Slovenia', 'South Africa',
       'Spain', 'Sri Lanka', 'Suriname', 'Sweden', 'Switzerland',
       'Thailand', 'Trinidad and Tobago', 'Turkey', 'Turkmenistan',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan'], dtype=object)

In [4]:
dfc= df[df["country"] == "Colombia"].reset_index()
dfc.drop(["index"], axis = 1, inplace = True)
dfc = dfc.rename(columns = {" gdp_for_year ($) ":"gdp_for_year", "gdp_per_capita ($)":"gdp_per_capita"})
dfc["gdp_for_year"] = dfc["gdp_for_year"].str.replace(",", "")
dfc["gdp_for_year"] = pd.to_numeric(dfc["gdp_for_year"])

In [5]:
dfc.shape

(372, 12)

In [6]:
dfc.isna().sum()

country                0
year                   0
sex                    0
age                    0
suicides_no            0
population             0
suicides/100k pop      0
country-year           0
HDI for year         252
gdp_for_year           0
gdp_per_capita         0
generation             0
dtype: int64

Como se puede apreciar en la tabla de valores nulos, la variable HDI for Year presenta más de la mitad del tamaño del conjunto de datos como valor nulo. Por lo tanto, no se dispondra de esta variable

In [7]:
dfc = dfc.drop(["HDI for year"], axis = 1)

In [8]:
dfc[dfc["year"] == 1985]

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,gdp_for_year,gdp_per_capita,generation
0,Colombia,1985,male,75+ years,21,123400,17.02,Colombia1985,34894411352,1393,G.I. Generation
1,Colombia,1985,male,55-74 years,113,1015200,11.13,Colombia1985,34894411352,1393,G.I. Generation
2,Colombia,1985,male,25-34 years,193,2323700,8.31,Colombia1985,34894411352,1393,Boomers
3,Colombia,1985,male,15-24 years,256,3190200,8.02,Colombia1985,34894411352,1393,Generation X
4,Colombia,1985,male,35-54 years,188,2451100,7.67,Colombia1985,34894411352,1393,Silent
5,Colombia,1985,female,15-24 years,117,3140700,3.73,Colombia1985,34894411352,1393,Generation X
6,Colombia,1985,female,25-34 years,45,2276100,1.98,Colombia1985,34894411352,1393,Boomers
7,Colombia,1985,female,75+ years,3,174000,1.72,Colombia1985,34894411352,1393,G.I. Generation
8,Colombia,1985,female,35-54 years,31,2403500,1.29,Colombia1985,34894411352,1393,Silent
9,Colombia,1985,female,55-74 years,12,1150600,1.04,Colombia1985,34894411352,1393,G.I. Generation
10,Colombia,1985,male,5-14 years,12,3443900,0.35,Colombia1985,34894411352,1393,Generation X
11,Colombia,1985,female,5-14 years,10,3360000,0.30,Colombia1985,34894411352,1393,Generation X